body{
  background-color:#FFE4B5;
}

h1,h3{
  text-align: center;
}

#container{
  background-color: #EEB4B4;
	display: block;
  text-align: center;
	width: 600px;
  height: 600px;
	margin: 120px auto 20px;
  padding: 30px 40px;
	font-family: 'Roboto', sans-serif;
  border-radius: 20px;
  color: white;

}


button{
  background: #8B8989;
  border: 2px;
  color: white;
  font-size: 16px;
  margin: 10px 10px 10px;
  padding: 6px 10px 6px 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  color: #eae8d0;
}
